#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

##################
# Node stuff
##################
# Node Volume Manager
export NVM_DIR="$HOME/.nvm"
  [ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && . "/usr/local/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;

# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';

# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# For Zscaler certs
export NODE_EXTRA_CA_CERTS=/Users/n0261864/Downloads/ZscalerRootCertificate-2048-SHA256.crt
##################


# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Various _HOME variables
export GRADLE_HOME="/usr/local/opt/gradle/libexec/"

# Using jenv instead.  export JAVA_HOME=$(/usr/libexec/java_home)

export GROOVY_HOME=/usr/local/opt/groovy/libexec

export NOTES_DIR="$HOME/Documents/OneDrive/OneDriveLibMu/notes"
export M2_HOME=/usr/local/Cellar/maven/3.8.2
export MAVEN_HOME=/usr/local/Cellar/maven/3.8.2

########################

# TODO: for notes. Replace with date fnc:
export YEAR="2021"
export QUARTER="3"

